@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {color: #000;
    text-decoration: none;}
img {vertical-align: bottom;}

/* 배경이미지 설정 */
#wrap {width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;}

/* 로고 설정 */
#wrap h1 {position: fixed;
        text-align: center;
        left: 50px;
        top: 280px;
        padding: 20px;}
#wrap h1 strong {display: block;
            font-size: 16px;
            line-height: 1.1;
            font-weight: bold;
            font-family: Verdana;
            color: #333;}
#wrap h1 img {width: 200px;
            height: auto;}
#wrap h1 span {display: block;
            font-size: 12px;
            letter-spacing: 5px;
            margin-top: 10px;
            color: #444;
            font-family: Arial;}

/* hero 설정 */
.txt {position: fixed;
        left: 70px;
        top: 430px;
        font-size: 30px;
        color: #111;
        font-family: 'Raleway', sans-serif;}
.txt span {color: #888;}

/* section 설정 */
section {position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;}
        
article {float: right;
        /* 오른쪽 가서 쌓여라 */
        /* 부모자에 가상 선택자 없으면 밑에서 치고 올라옴 but 밑에 아무것도 없기도 하고 포지션으로 뗐기 때문에 안 써도 됨 */
        width: 12%;
        height: 100%;
        background-image: url(../img/divider.png);
        background-repeat: no-repeat;
        background-position: left center;
        transition: all 0.8s;
        position: relative;
        overflow: hidden;}
/* article:hover {width: 35%;} -> 제이쿼리로 구현함 */
/* 중복 적용되면 에러 뜨기 때문에 호버값 지워준 것 */
article h2 {position: absolute;
            top: 350px;
            left: 20px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: #666;
            border-left: 3px solid #555;
            padding-left: 15px;
                z-index: 10;}

article video {position: absolute;
                left: -100px;
                top: 0;
                height: 100%;
                width: auto;
                z-index: 1;
                /* 부드럽게 전환 */
                transition: all 0.8s;/*display:none의 경우는 부드러운 전환이 안 됨 그래서 opacity로 안 보이게 한 것*/
                opacity: 0;}
/* article 내부에 타이틀 박스 설정 */
article div {position: absolute;
                top: 350px;
                transition: all 1.2s;
                width: 100%;
                height: 0;
                background-color: black;
                z-index: 2;}

article:hover div {top: 325px;
                height: 70px;}
article:hover h2 {color: #fff;
        border-left: 3px solid #fff;}

/* article aside {position: absolute;
                bottom: 50px;
                right: -500px;
                width: 350px;
                height: auto;
                color: #fff;
                text-align: right;
                transition: all 1.2s;
                z-index: 3;}
article aside h3 {font-size: 50px;}
article aside p {font: 20px;}

article:hover aside {right: 40px;} */


article h3 {position: absolute;
        color: #fff;
        width: 350px;
        right: -800px;
        bottom: 200px;
        font-size: 50px;
        transition: all 0.8s;
        z-index: 3;
text-align: right;}
article p {position: absolute;
        color: #fff;
        width: 350px;
        right: -800px;
        bottom: 50px;
        font: 20px;
        transition: all 1.2s;
        z-index: 3;
text-align: right;}

article:hover h3 {right: 25px;}
article:hover p {right: 25px;}
